h1{
    color:hotpink;
}
.bli{
    border-width: 2px;
    border-color: lightpink;
    border-style: solid; 
    background-color: pink;
    
}
.bli2{
    background-color: pink;
    width: 100px;
}
#im1{
    border-width: 2px;
    width: 200px;
    height: 150px; 
    border-radius: 50%;
}